.container{
    text-align: center;
    /* border: solid 5px hotpink; */
    padding: 5px;
    display: flex;
    font-size: 25px;
}
.chipotle{
    flex:1 1 auto;
    background-color: hotpink;
    border:solid black 3px;
}
.frice{
    flex:1 1 auto;
    background-color: hotpink;
    border:solid black 3px;
}
.smoothie{
    flex:1 1 auto;
    background-color: hotpink;
    text-decoration: none;
    border:solid black 3px;
}

.a{
    text-decoration: none;
}